.logo img{
    width:250px;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
}


header ul {
    list-style-type: none;
    line-height: 60px;
}

header ul li {
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
}

main {
    clear:both;
}

.main-container{
    width: 95%;
}

.left {
    float: left;
    width: 70%;
    padding-right: 50px;
    margin-bottom: 50px;
}

.right{
    float: left;
    width: 25%;
}



.left h1 {
    border-bottom: 1px solid black;
    border-left: 3px solid black;
	padding-left: 10px;
}

.form {
	margin: 0 auto;
	background-color:#fbfbfb;
	border:3px #ebebeb solid;
	border-radius: 10px;
	width: 100%;
}

.left h2 {
	border-left: 3px solid red;
	margin-left: 10px;
	padding-left: 10px;
}

form div {
	padding:15px;
}

.text, textarea, .dropdown {
	border: 1pxsolid #dfdfdf;
	padding: 5px;
	color: #999;
	background: #fff;
}

.submit {
	border: 1px solid lightgray;
	padding: 4px 10px;
	color: white;
	background-color: #bfbfbf;
	border-radius: 5px;
	border-bottom: solid 2px gray;
}

.kiji {
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    width: 100%;
}

.kiji h3 {
    border-bottom: solid 2px lightgray;
}

.contents {
    margin: 5px;
    padding-bottom: 5px;
}

.handlename{
    font-size: 12px;
}


.right h3 {
    border-bottom: 2px dotted black;
}

.right ul {
    list-style-type: none;
    margin-left:-35px;
    margin-top: -10px;
    line-height: 30px;
}

footer {
    clear: left;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: black;
    text-align: center;
    line-height:60px;
}